@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
body{
    font-family:'Noto Sans',sans-serif;
    margin:0;
    padding:0;
    background:linear-gradient(to right,#1c92d2,#f2fcfe)
}
.container{
    display:flex;
    align-items:flex-start;
    height:100vh
}
.content{
    margin-left:250px
}
.greeting{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom:10px;
    text-transform: uppercase;
}
.dashboard{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin:10px
}
.dashboard-card{
    width:200px;
    height:100px;
    background:#fff;
    border-radius:10px;
    box-shadow:0 0 15px 5px rgba(0,0,0,.15);
    margin:20px;
    position:relative;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition:transform .3s ease,box-shadow .3s ease
}
.card-title{
    font-size:16px;
    font-weight:600;
    color:#333;
    margin-bottom:10px
}
.card-content{
    font-size:16px;
    font-weight:400;
    color:#333
}
.card-number{
    font-size:24px;
    font-weight:700;
    color:#333;
    margin-right:5px
}
.dashboard-card:hover{
    transform:scale(1.05);
    box-shadow:0 0 30px 10px rgba(0,0,0,.3)
}
.dashboard-card-large{
    width:400px;
    height:300px;
    background:#fff;
    border-radius:10px;
    box-shadow:0 0 15px 5px rgba(0,0,0,.15);
    margin:20px;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition:transform .3s ease,box-shadow .3s ease
}
.dashboard-card-large:hover{
    transform:scale(1.05);
    box-shadow:0 0 30px 10px rgba(0,0,0,.3)
}
.dashboard-card-large.wider{
    width:600px
}
.card-icon{
    display:flex;
    justify-content:center;
    align-items:center;
    color:#333;
    text-decoration:none;
    position:absolute;
    right:10px;
    top:10px
}
.card-icon img{
    width:20px;
    height:20px
}
.card-icon:hover{
    color:#1c92d2
}