@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body{
  font-family:'Noto Sans',sans-serif;
  margin:0;
  padding:0;
  background:linear-gradient(to right,#1c92d2,#f2fcfe)
}
.container{
  display:flex;
  align-items:flex-start;
  height:100vh
}
.content{
  margin-left: 125px;
}
.greeting{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom:10px;
  text-transform: uppercase;
  color: black;
}
.card {
  border-radius: 20px !important;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
}
.card:hover {
  transform: translateY(-10px);
}
.col {
  margin-bottom: 30px; /*adjust as needed*/
}

#upload-document-button {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  position: fixed;
  top: 5px;
  right: 40px;
  white-space: wrap;
}
#upload-document-button:hover {
  background-color: #ddd;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  color: #333;
  position: relative;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.modal-step-title {
  text-align: center;
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.form-group {
  margin-bottom: 15px;
  width: 100%;
}
.form-group input,
.form-group select {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 14px;
}
.modal-navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.modal-navigation .submit-step {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  right: 20px;
  transition: background-color 0.3s ease;
}
.modal-navigation .submit-step:hover {
  background-color: #ddd;
}
.minimal-button {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-start;
}
.minimal-button:hover {
  background-color: #ddd;
}
.modal-step {
  display: none;
}
.active-step {
  display: block;
}
#upload-document-file {
  margin-top: 1px;
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
#upload-document-file:hover {
  background-color: #ddd;
}
.close {
  color: #888;
  float: right;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.close:hover {
  color: #000;
}

#upload-document-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
}

body.modal-open {
  overflow: hidden;
}

.modal-open #upload-document-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-open .modal-content {
  animation: modalFadeIn 0.3s ease-in-out;
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.document-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.document-list li {
  margin-bottom: 5px;
}
.document-list li:hover {
  background-color: #ddd;
}
.download-button {
  background-color: #1c92d2;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 10px;
}
.download-button:hover {
  background-color: #ddd;
}

.error-notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 9999;
}
.success-notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4BB543;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 9999;
}

.error-notification.show, .success-notification.show {
  opacity: 1;
}

.error-notification-modal {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 9999;
}

.success-notification-modal {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4BB543;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 9999;
}

.error-notification-modal.show, .success-notification-modal.show {
  opacity: 1;
}

.card-wrapper{
  width: 85%;
}

@media only screen and (min-width: 320px) {
  .root-div{
    padding-right: 14px !important;
  }
}

@media only screen and (min-width: 450px) {
.card-wrapper{
    width: 91%;
    justify-content: end;
}
.root-div{
  padding-right: 14px !important;
}
}
@media only screen and (min-width: 600px) {
  .card-wrapper{
      width: 92%;
      justify-content: end;
  }

  .root-div{
    padding-right: 3rem !important;
  }
}
@media only screen and (min-width: 768px) {
  .card-wrapper{
      width: 74%;
  }
}

@media only screen and (min-width: 770px) {
  .card-wrapper{
    width: 70%;
  }
}

@media only screen and (min-width: 900px) {
  .card-wrapper{
      width: 76%;
  }
}
@media only screen and (min-width: 1050px) {
  .card-wrapper{
      width: 79%;
      justify-content:end
  }
}

@media only screen and (min-width: 1200px) {
  .card-wrapper{
      width: 82%;
      justify-content:end
  }
}
@media only screen and (min-width: 1300px) {
  .card-wrapper{
      width: 83%;
      justify-content:center
  }
}

@media only screen and (min-width: 1600px) {
  .card-wrapper{
      width: 87%;
      justify-content:center
  }
}

@media only screen and (min-width: 1900px) {
  .card-wrapper{
      width: 89%;
      justify-content:center
  }
}
@media only screen and (min-width: 2400px) {
  .card-wrapper{
      width: 91%;
      justify-content:center
  }
}