*,::after,::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
    user-select:none
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1c92d2, #f2fcfe);
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    border-radius: 12px;
    box-shadow: 10px 10px 30px #1c92d2, -10px -10px 30px #f2fcfe;
    overflow: hidden;
    width: 95%;
    max-width: 1000px;
    min-height: 70vh;  /* Add this line */
}


.left {
    position: relative;
    padding: 40px 20px; /* Adjust the padding values to make the container slimmer */
    background-color: #ecf0f3;
    overflow: hidden;
    z-index: 2;
}

.left__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto; /* Center the container horizontally */
    max-width: 70%; /* Adjust the max-width as needed to control the width of the container */
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo, .corfac-logo {
    max-width: 30%; /* Adjust the max-width as needed */
    height: auto;
    margin-bottom: 20px;
}

.corfac-logo {
    margin-top: auto;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.4;
    color: #a0a5a8;;
}

.a-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #fff;
}

.form_title {
    font-size: 24px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
    text-align: center;
}

.form__input {
    height:40px;
    margin:4px 0;
    padding-left:25px;
    font-size:13px;
    letter-spacing:.15px;
    border:none;
    outline:0;
    font-family:Montserrat,sans-serif;
    background-color:#ecf0f3;
    box-shadow:inset 2px 2px 4px #d1d9e6,inset -2px -2px 4px #f9f9f9;
    border-radius:8px
}


.error {
    font-size: 14px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.form__button{
    width:180px;
    height:50px;
    border-radius:25px;
    margin-top:50px;
    font-weight:700;
    font-size:14px;
    letter-spacing:1.15px;
    background-color:#4b70e2;
    color:#f9f9f9;
    box-shadow:8px 8px 16px #d1d9e6,-8px -8px 16px #f9f9f9;
    border:none;
    outline:0
}

.form__button:hover {
    background-color: #0b618a; /* Darken the button color on hover */
}

@media only screen and (min-width: 768px) {
    .logo {
        max-width: 90%;
    }
    .corfac-logo {
        max-width: 60%;
        align-self: center; 
        margin-top: auto; 
    }
    .container-fluid {
        max-width: 1000px;
        display: flex;
        flex-direction: row;
    }

    .left {
        flex: 1;
        padding: 60px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .a-container { 
        flex: 2; 
        padding: 60px 20px;
    }

    .left__container {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        padding: 30px 0; 
        flex-grow: 1; 
        margin-bottom: -80px;
    }
    
    .left__container, .a-container {
        padding: 30px 0; 
    }

    .title{
        font-size:34px;
        font-weight:700;
        color:#181818;
        white-space: nowrap;
        margin-top: 40px; 
    }

    .description {
        font-size:14px;
        letter-spacing:.25px;
        text-align:center;
        line-height:1.6;
        margin-top: 20px;
    }

    .form__input, .error {
        margin-bottom: 20px; 
    }
}