@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap);

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  background: linear-gradient(to right, #1c92d2, #f2fcfe);
}

.container {
  display: flex;
  height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow: auto;
}

#toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-form {
  text-align: right;
}

#search-input {
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  width: 200px;
}

#search-input:focus {
  outline: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

#open-map-button {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

#open-map-button:hover {
  background-color: #ddd;
}

#delete-all-button {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

#delete-all-button:hover {
  background-color: #ddd;
}

#add-sale-button {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

#add-sale-button:hover {
  background-color: #ddd;
}

#upload-sale-agreement {
  margin-top: 1px;
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

#upload-sale-agreement:hover {
  background-color: #ddd;
}

#edit-upload-sale-agreement {
  margin-top: 1px;
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

#edit-upload-sale-agreement:hover {
  background-color: #ddd;
}

.centered-table {
  margin-left: 220px;
  margin-right: auto;
  margin-top: 5px;
  width: auto;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.centered-table tr {
  cursor: pointer;
}

.centered-table th,
.centered-table td {
  border-right: 1px solid #ddd;
  padding: 3px;
  text-align: center !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  line-height: 1;
  font-size: 11px;
}

.centered-table td {
  cursor: default;
  width: 150px;
}

.centered-table tr:nth-child(even) {
  background-color: #f0f0f0;
}

.centered-table tr:nth-child(odd) {
  background-color: #f2fcfe;
}

.centered-table tr:hover {
  background-color: rgb(57, 112, 206);
  color: white !important;
  cursor: pointer;
}

.row-hover:hover {
  background-color: rgb(57, 112, 206);
  color: white !important;
  cursor: pointer;
}

.centered-table th {
  background-color: #1c92d2;
  width: 150px;
  color: white;
}

.centered-table th:nth-child(1),
.centered-table th:nth-child(2),
.centered-table th:nth-child(3) .centered-table th:nth-child(4),
.centered-table th:nth-child(5),
.centered-table th:nth-child(6),
.centered-table th:nth-child(7),
.centered-table th:nth-child(8),
.centered-table th:nth-child(9) {
  max-width: 150px;
}

.contact-info {
  margin-bottom: 5px;
}

.buyer-entity {
  margin-top: 5px;
  margin-bottom: 5px;
}

.seller-entity {
  margin-top: 5px;
  margin-bottom: 5px;
}

.contact-info a:first-child {
  display: block;
  margin-bottom: 15px;
  padding-bottom: 3px;
}

.contact-info :nth-child(2) {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}


.pagination {
  display: flex;
  column-gap: 10px;
  padding-left: 10px;
}

.pagination a {
  margin: 0 10px;
  text-decoration: none;
  color: #0056b3;
}

.page-item {
  display: flex;
  padding: 0 !important;
  margin-top: 15px;
  background-color: transparent !important;
  align-items: center;
  transition: background-color 0.3s ease;
  color: #0056b3;
}

.page-item a {
  padding: 10px;
  font-size: 14px;
  font-weight: bolder;
}

.page-item a:hover {
  color: #fff !important;
  padding: 10px;
  border-radius: 5px;
  background-color: #0056b3;
}

table tr:hover td a {
  color: #fff;
}

.sale-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.truncate-text {
  white-space: normal;
}

.modal-content {
  background: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  color: #333;
  position: relative;
  width: 60%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  max-height: 80%;
  z-index: 9999;
}

.modal-step-title {
  text-align: center;
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
  width: 100%;
}

.form-group input,
.form-group select {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 14px;
}

.modal-navigation {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.hidden {
  visibility: hidden;
}

.modal-navigation .prev-step {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-navigation .next-step {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-navigation .next-step:hover,
.modal-navigation .prev-step:hover {
  background-color: #ddd;
}

.minimal-button {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-start;
}

.minimal-button:hover {
  background-color: #ddd;
}

.modal-step {
  display: none;
}

.active-step {
  display: block;
}

.brokers {
  white-space: nowrap;
}

.broker-name {
  display: block;
  white-space: nowrap;
}

#sale-brokers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.checkbox-line {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.broker-label {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 12px;
}

.broker-label input[type="checkbox"] {
  margin-right: 10px;
}

.close {
  color: #888;
  float: right;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

body.modal-open {
  overflow: hidden;
  z-index: 9999;
}

.modal-open #add-sale-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-open #edit-sale-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-open .modal-content {
  animation: modalFadeIn 0.3s ease-in-out;
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.error-notification {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 9999;
}

.success-notification {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4bb543;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 9999;
}

.success-notification.show,
.error-notification.show {
  opacity: 1;
}

.action-modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 2px solid #dcdcdc;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  padding: 2px 0px 4px 8px;
  width: 200px;
  text-align: center;
  font-size: 1.0em;
}

.action-modal button {
  display: block;
  border: none;
  background-color: transparent;
  color: #000000;
  padding: 0px 4px 0px 10px;
  font-weight: bold;
  margin-top: 4px;
  cursor: pointer;
  transition: color 0.3s ease, opacity 0.3s ease;
  text-align: center;
  line-height: 1.5;
}

.action-modal button:hover {
  color: #7a7a7acb;
}

.sales-count {
  position: absolute;
  left: 240px;
  padding: 10px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  background-color: #f0f0f0;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.table-div {
  width: 80%;
  overflow: auto;
  float: right;
  max-width: inherit;
}

.search-form::-webkit-scrollbar {
  display: none;
}

.modal-content {
  -ms-overflow-style: none;
}

.modal-content::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}


.search-form,
.table-div {
  -ms-overflow-style: none;
  scrollbar-width: none;

}

.user-details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

@media only screen and (max-width: 400px) {
  .toolbar {
    width: 85%;
    float: right;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
    float: right;
    column-gap: 10px;
  }

  .table-div {
    width: 85%;
    overflow: auto;
    float: right;
    max-width: inherit;
  }

  .header-btns {
    width: 100%;
  }

  .sales-count-div {
    width: 100% !important;
  }

  .dropdown-btn {
    width: 100%;
  }

  .pagination {
    display: flex;
    padding-left: 10px;
  }
}

@media only screen and (min-width: 400px) {
  .toolbar {
    width: 90%;
    float: right;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
    float: right;
    column-gap: 10px;
  }

  .table-div {
    width: 90%;
    overflow: auto;
    float: right;
    max-width: inherit;
  }

  .header-btns {
    width: 100%;
  }

  .sales-count-div {
    width: 100% !important;
  }

  .dropdown-btn {
    width: 100%;
  }

  .pagination {
    display: flex;
    padding-left: 10px;
  }
}



@media only screen and (min-width: 550px) {
  .toolbar {
    width: 90%;
    float: right;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
    float: right;
    column-gap: 10px;
  }

  .table-div {
    width: 90%;
    overflow: auto;
    float: right;
    max-width: inherit;
  }

  .header-btns {
    width: auto;
  }

  .sales-count-div {
    width: auto !important;
  }

  .dropdown-btn {
    width: 100%;
  }

  .pagination {
    display: flex;
    padding-left: 10px;
  }
}

@media only screen and (min-width: 769px) {
  .toolbar {
    width: 74%;
    float: right;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    float: right;
    column-gap: 10px;
  }

  .table-div {
    width: 74%;
    overflow: auto;
    float: right;
    max-width: inherit;
  }

  .header-btns {
    width: auto;
  }

  .pagination {
    display: flex;
    padding-left: 10px;
  }
}

@media only screen and (min-width: 955px) {
  .toolbar {
    width: 80%;
    float: right;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
    float: right;
    column-gap: 10px;
  }

  .table-div {
    width: 80%;
    overflow: auto;
    float: right;
    max-width: inherit;
  }

  .header-btns {
    width: auto;
  }

  .pagination {
    display: flex;
    justify-content: center;
    padding-left: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .toolbar {
    width: 84%;
    float: right;
  }

  .table-div {
    width: 84%;
    overflow: auto;
    float: right;
    max-width: inherit;
  }

  .header-btns {
    width: auto;
  }

  .pagination {
    display: flex;
    justify-content: center;
    padding-left: 10px;
  }
}

@media only screen and (min-width: 1500px) {
  .table-div {
    width: 85%;
    overflow: auto;
    float: right;
    max-width: inherit;
  }

  .toolbar {
    width: 85%;
    float: right;
  }

  .header-btns {
    width: auto;
  }
}

@media only screen and (min-width: 1700px) {
  .toolbar {
    width: 87%;
    float: right;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
    float: right;
    column-gap: 10px;
  }

  .table-div {
    width: 87%;
    overflow: auto;
    float: right;
    max-width: inherit;
  }

  .header-btns {
    width: auto;
  }
}

@media only screen and (min-width: 1900px) {
  .toolbar {
    width: 90%;
    float: right;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
    float: right;
    column-gap: 10px;
  }

  .table-div {
    width: 90%;
    overflow: auto;
    float: right;
    max-width: inherit;
  }

  .header-btns {
    width: auto;
  }
}