@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap);
 body {
     font-family: 'Noto Sans', sans-serif;
     margin: 0;
     padding: 0;
     position: relative;
     background: linear-gradient(to right, #1c92d2, #f2fcfe);
}
 .container {
     display: flex;
     height: 100vh;
}
 .content {
     flex-grow: 1;
     padding: 20px;
     overflow: auto;
}
 #toolbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
}
 .search-form{
     text-align:right;
}
 #search-input{
     padding:10px;
     border:none;
     background-color:#f0f0f0;
     border-radius:4px;
     font-size:14px;
     color:#333;
     width:200px 
}
 #search-input:focus{
     outline:0;
     box-shadow:0 0 3px rgba(0,0,0,.3) 
}
 #open-map-button {
     background-color: #f0f0f0;
     border: none;
     color: #333;
     padding: 10px 20px;
     border-radius: 4px;
     font-size: 14px;
     cursor: pointer;
}
 #open-map-button:hover {
     background-color: #ddd;
}
 #add-sale-button {
     background-color: #f0f0f0;
     border: none;
     color: #333;
     padding: 10px 20px;
     border-radius: 4px;
     font-size: 14px;
     cursor: pointer;
}
 #add-sale-button:hover {
     background-color: #ddd;
}
 .modal{
     display:none;
     position:fixed;
     z-index:1;
     left:0;
     top:0;
     width:100%;
     height:100%;
     justify-content:center;
     align-items:center;
     background-color:rgba(0,0,0,.4) 
}
 .modal-content{
     background:#fff;
     margin:auto;
     padding:20px;
     border-radius:8px;
     color:#333;
     position:relative;
     width:60%;
     max-width:500px;
     box-shadow:0 0 10px rgba(0,0,0,.2) 
}
 .modal-step-title{
     text-align:center;
     color:#333;
     font-size:20px;
     margin-bottom:10px 
}
 .modal-form{
     display:flex;
     flex-direction:column 
}
 .form-group{
     margin-bottom:15px;
     width:100% 
}
 .form-group input,.form-group select{
     box-sizing:border-box;
     width:100%;
     padding:10px;
     border:none;
     border-radius:4px;
     background-color:#f0f0f0;
     color:#333;
     font-size:14px 
}
 .modal-navigation{
     display:flex;
     justify-content:space-between;
     padding:10px 0 
}
 .modal-navigation .prev-step{
     visibility: hidden;
     background-color:#f0f0f0;
     border:none;
     color:#333;
     padding:10px 20px;
     border-radius:4px;
     font-size:14px;
     cursor:pointer;
     transition:background-color .3s ease 
}
 .modal-navigation .next-step {
     background-color:#f0f0f0;
     border:none;
     color:#333;
     padding:10px 20px;
     border-radius:4px;
     font-size:14px;
     cursor:pointer;
     transition:background-color .3s ease 
}
 .modal-navigation .next-step:hover,.modal-navigation .prev-step:hover{
     background-color:#ddd 
}
 .minimal-button{
     background-color:#f0f0f0;
     border:none;
     color:#333;
     padding:10px 20px;
     border-radius:4px;
     font-size:14px;
     cursor:pointer;
     margin-top:10px;
     align-self:flex-start 
}
 .minimal-button:hover{
     background-color:#ddd 
}
 .brokers{
     white-space:nowrap 
}
 .broker-name{
     display:block;
     white-space:nowrap;
}
 #sale-brokers {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 10px;
}
 .checkbox-line {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
}
 .broker-label {
     display: flex;
     align-items: center;
     white-space: nowrap;
     font-size: 12px;
}
 .broker-label input[type=checkbox] {
     margin-right: 10px;
}
 .modal-step{
     display:none 
}
 .active-step{
     display:block 
}
#upload-sale-agreement{
    margin-top:1px;
    background-color:#f0f0f0;
    border:none;
    color:#333;
    padding:10px 20px;
    border-radius:4px;
    font-size:14px;
    cursor:pointer
}
#upload-sale-agreement:hover{
    background-color:#ddd
}
 .close{
     color:#888;
     float:right;
     font-size:24px;
     font-weight:700;
     cursor:pointer 
}
 .close:hover{
     color:#000 
}
 .centered-table {
     margin-left: 220px;
     margin-right: auto;
     margin-top: 5px;
     width: auto;
     border-collapse: collapse;
     margin-bottom: 10px;
}
 .centered-table tr{
     cursor:pointer 
}
 .centered-table th, .centered-table td {
     border: 1px solid #ddd;
     padding: 3px;
     text-align: center;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     height: 50px;
     line-height: 1;
     font-size: 12px;
}
 .centered-table td{
     cursor:default 
}
 .centered-table tr:nth-child(even){
     background-color:#f0f0f0 
}
 .centered-table tr:nth-child(odd){
     background-color:#f2fcfe 
}
 .centered-table tr:hover{
     background-color:#3970ce;
     cursor:pointer 
}
 .centered-table th{
     background-color:#1c92d2;
     color:#fff 
}
 .centered-table th:nth-child(1){
     width:100px 
}
 .centered-table th:nth-child(2){
     width:100px 
}
 .centered-table th:nth-child(3){
     width:100px 
}
 .centered-table th:nth-child(4){
     width:80px 
}
 .centered-table th:nth-child(5){
     width:100px 
}
 .centered-table th:nth-child(6){
     width:150px 
}
 .centered-table th:nth-child(7){
     width:100px 
}
 .centered-table th:nth-child(8){
     width:150px 
}
 .centered-table th:nth-child(9){
     width:150px 
}
.centered-table th:nth-child(10){
    width:150px 
}
.centered-table th:nth-child(11){
    width:150px 
}
 .pagination {
     display: flex;
     justify-content: flex-end;
     padding-left: 10px;
     margin-top: -10px;
    /* Add negative margin-top value to move pagination up */
}
 .pagination a{
     margin:0 10px;
     text-decoration:none;
     color:#0056b3 
}
 .pagination a:hover{
     color:#0056b3;
     text-decoration:none 
}
 .pagination .active{
     color:#0056b3 
}
 .error-notification {
     position: fixed;
     top: 20px;
     left: 50%;
     transform: translateX(-50%);
     background-color: #f44336;
     color: #fff;
     padding: 10px 20px;
     border-radius: 4px;
     opacity: 0;
     transition: opacity 0.3s;
     z-index: 9999;
}
 .success-notification {
     position: fixed;
     top: 20px;
     left: 50%;
     transform: translateX(-50%);
     background-color: #4BB543;
     color: #fff;
     padding: 10px 20px;
     border-radius: 4px;
     opacity: 0;
     transition: opacity 0.3s;
     z-index: 9999;
}
 .error-notification.show, .success-notification.show {
     opacity: 1;
}
 .error-notification-modal {
     position: fixed;
     top: 20px;
     left: 50%;
     transform: translateX(-50%);
     background-color: #f44336;
     color: #fff;
     padding: 10px 20px;
     border-radius: 4px;
     opacity: 0;
     transition: opacity 0.3s;
     z-index: 9999;
}
 .success-notification-modal {
     position: fixed;
     top: 20px;
     left: 50%;
     transform: translateX(-50%);
     background-color: #4BB543;
     color: #fff;
     padding: 10px 20px;
     border-radius: 4px;
     opacity: 0;
     transition: opacity 0.3s;
     z-index: 9999;
}
 .error-notification-modal.show, .success-notification-modal.show {
     opacity: 1;
}
/* Add sales Modal */
 #add-sale-modal {
     display: none;
     position: fixed;
     z-index: 9999;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.6);
     overflow: auto;
}
 body.modal-open {
     overflow: hidden;
}
 .modal-open #add-sale-modal {
     display: flex;
     align-items: center;
     justify-content: center;
}
 .modal-open .modal-content {
     animation: modalFadeIn 0.3s ease-in-out;
}
 @keyframes modalFadeIn {
     0% {
         opacity: 0;
         transform: translateY(-50%);
    }
     100% {
         opacity: 1;
         transform: translateY(0);
    }
}
 .action-modal {
     display: none;
     position: fixed;
     z-index: 999;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #F2F2F2;
     border-radius: 5px;
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
     padding: 20px;
     width: 80%;
     max-width: 500px;
     text-align: center;
}
 .action-modal {
     display: none;
     position: fixed;
     z-index: 999;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #9da1a1;
     border-radius: 10px;
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
     padding: 5px;
     width: 150px;
     text-align: center;
}
 .action-modal button {
     display: block;
     border: none;
     color: #fff;
     padding: 5px 10px;
     margin-top: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
     border-radius: 3px;
     width: 100%;
     text-align: center;
     line-height: 1.5;
}
 #delete-button {
     background-color: #f44336;
}
 #delete-button:hover {
     background-color: #e33f2e;
}
 #edit-button {
     background-color: #4CAF50;
}
 #edit-button:hover {
     background-color: #45a049;
}