@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #1c92d2, #f2fcfe);
}

.container {
  display: flex;
  align-items: flex-start;
  height: 100vh;
}

.content {
  margin-left: 125px;
}

.greeting {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: black;
}


.hide-scrollbar {
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.error-notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 9999;
}

.success-notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4bb543;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 9999;
}

.error-notification.show,
.success-notification.show {
  opacity: 1;
}

.card {
  border-radius: 20px !important;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
}

.card-wrapper {
  width: 80%;
}

.logs-list {
  height: 400px;
  overflow-y: auto;
  margin-top: 15px;
  padding-right: 10px;
  position: relative; /* Position relative for absolute positioning of child elements */
}

.no-logs-message {
  position: absolute; /* Absolute positioning to center it inside the parent */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #6c757d; /* A neutral color */
  font-style: italic;
  display: none; /* Hidden by default */
}

.log-item {
  background-color: #f8f9fa;
  border: 1px solid #e1e4e8;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.brokers-list {
  height: 400px; /* Fixed height for the log list */
  overflow-y: auto; /* Enable scrolling within the log list */
  margin-top: 15px;
  padding-right: 10px; /* Add padding for scrollbar */
}

.broker-item {
  background-color: #f8f9fa;
  border: 1px solid #e1e4e8;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

/* Add broker item hover effect if needed */
.broker-item:hover {
  background-color: #e8f0fe;
}


@media only screen and (min-width: 320px) {
  .root-div {
    padding-right: 14px !important;
  }
}

@media only screen and (min-width: 450px) {
  .card-wrapper {
    width: 91%;
    justify-content: end;
  }

  .root-div {
    padding-right: 14px !important;
  }
}

@media only screen and (min-width: 600px) {
  .card-wrapper {
    width: 92%;
    justify-content: end;
  }

  .root-div {
    padding-right: 3rem !important;
  }
}

@media only screen and (min-width: 768px) {
  .card-wrapper {
    width: 74%;
  }
}

@media only screen and (min-width: 770px) {
  .card-wrapper {
    width: 70%;
  }
}

@media only screen and (min-width: 900px) {
  .card-wrapper {
    width: 76%;
  }
}

@media only screen and (min-width: 1050px) {
  .card-wrapper {
    width: 79%;
    justify-content: end;
  }
}

@media only screen and (min-width: 1200px) {
  .card-wrapper {
    width: 82%;
    justify-content: end;
  }
}

@media only screen and (min-width: 1300px) {
  .card-wrapper {
    width: 83%;
    justify-content: center;
  }
}

@media only screen and (min-width: 1600px) {
  .card-wrapper {
    width: 87%;
    justify-content: center;
  }
}

@media only screen and (min-width: 1900px) {
  .card-wrapper {
    width: 89%;
    justify-content: center;
  }
}

@media only screen and (min-width: 2400px) {
  .card-wrapper {
    width: 91%;
    justify-content: center;
  }
}