body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

table#userTable {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table#userTable th {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: left;
}

table#userTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

table#userTable tr:hover {
    background-color: #ddd;
}

table#userTable td {
    padding: 10px;
}

/* */

table#recentLoginsTable {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table#recentLoginsTable th {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: left;
}

table#recentLoginsTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

table#recentLoginsTable tr:hover {
    background-color: #ddd;
}

table#recentLoginsTable td {
    padding: 10px;
}