@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #1c92d2, #f2fcfe);
}

.container {
  display: flex;
  height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow: auto;
}

/* loading */

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

/* search */

.search-form {
  text-align: right;
  margin-bottom: 20px;
}

#search-input {
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  width: 200px;
}

#search-input:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* add listing button */

#add-listing-button {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

#add-listing-button:hover {
  background-color: #ddd;
}

/* listing modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-step-title {
  text-align: center;
  color: black;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 10px;
  width: 60%;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-sizing: border-box;
}

.modal-navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.modal-navigation .prev-step {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.modal-navigation .next-step {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.minimal-button {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  align-self: center;
}

.minimal-button:hover {
  background-color: #ddd;
}

.modal-content {
  background: linear-gradient(to right, #1c92d2, #f2fcfe);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Updated width */
  height: 70%; /* Updated height */
  border-radius: 4px;
  color: white;
  position: absolute; /* Added for positioning */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal */
  overflow: auto; /* Enable scrolling if content exceeds the modal height */
}

#add-listing-modal.modal {
  display: none;
  justify-content: center;
  align-items: center;
}

.checkbox-line {
  display: flex;
  align-items: center;
}

.brokers {
  white-space: nowrap;
}

.broker-name {
  display: block;
  white-space: nowrap;
}

.broker-label {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.broker-label input[type="checkbox"] {
  margin-right: 10px;
}

/* upload listing agreement */

#upload-listing-agreement {
  margin-top: 20px; /* Adjust this value to move the button lower */
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

#upload-listing-agreement:hover {
  background-color: #ddd;
}

.agreement-tooltip {
  display: none;
  position: absolute;
  padding: 10px;
  background: #333;
  color: #f0f0f0;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 10px; /* Adjust this value to move the tooltip lower relative to the button */
}

#upload-listing-agreement:hover + .agreement-tooltip {
  display: block;
}

.close {
  color: #888;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

.modal-step {
  display: none;
}

.active-step {
  display: block;
}

/* table */

.centered-table {
  margin-left: 220px;
  margin-right: auto;
  margin-top: 0;
  width: auto;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.centered-table tr {
  cursor: pointer;
}

.centered-table th,
.centered-table td {
  border: 1px solid #ddd;
  padding: 3px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  line-height: 1;
  font-size: 12px;
}

.centered-table td {
  cursor: default;
}

.centered-table tr:nth-child(even) {
  background-color: #f0f0f0;
}

.centered-table tr:nth-child(odd) {
  background-color: #f2fcfe;
}

.centered-table tr:hover {
  background-color: rgb(57, 112, 206);
  cursor: pointer;
}

.centered-table th {
  background-color: #1c92d2;
  color: white;
}

.centered-table th:nth-child(1) {
  width: 100px;
}

.centered-table th:nth-child(2) {
  width: 200px;
}

.centered-table th:nth-child(3) {
  width: 100px;
}

.centered-table th:nth-child(4) {
  width: 80px;
}

.centered-table th:nth-child(5) {
  width: 100px;
}

.centered-table th:nth-child(6) {
  width: 150px;
}

.centered-table th:nth-child(7) {
  width: 100px;
}

.centered-table th:nth-child(8) {
  width: 150px;
}

.centered-table th:nth-child(9) {
  width: 150px;
}

/* pagination */

.pagination {
  display: flex;
  justify-content: flex-end;
  padding-left: 10px;
}

.pagination a {
  margin: 0 10px;
  text-decoration: none;
  color: #0056b3;
}

.pagination a:hover {
  color: #0056b3;
  text-decoration: none;
}

.pagination .active {
  color: #0056b3;
}

/* Open Map button */

#open-map-button {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 240px;
}

#open-map-button:hover {
  background-color: #ddd;
}
