<!DOCTYPE html>
<html>
   <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Admin Portal - Dashboard</title>
    <link rel="icon" type="image/png" href="/static/icons/cropped_logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
   </head>
   <body>
      <div class="container-fluid">
      <div class="row">
         {% include 'sidebar.html' %}
         <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h2 class="greeting mt-3">{{ greeting_msg }}</h2>
            <div class="row row-cols-1 row-cols-md-4 mt-4 g-4">
               <div class="col">
                  <div class="card h-100">
                     <div class="card-body">
                        <h5 class="card-title">Total Listings</h5>
                        <p class="card-text"><span class="card-number">{{ total_listings }}</span> Properties</p>
                     </div>
                     <div class="card-footer">
                        <a href="/listings" class="btn btn-primary"><i class="fas fa-eye"></i> View</a>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div class="card h-100">
                     <div class="card-body">
                        <h5 class="card-title">Total Sales</h5>
                        <p class="card-text"><span class="card-number">98</span> Sales</p>
                     </div>
                     <div class="card-footer">
                        <a href="/sales" class="btn btn-primary"><i class="fas fa-eye"></i> View</a>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div class="card h-100">
                     <div class="card-body">
                        <h5 class="card-title">Total Leases</h5>
                        <p class="card-text"><span class="card-number">75</span> Leases</p>
                     </div>
                     <div class="card-footer">
                        <a href="/leases" class="btn btn-primary"><i class="fas fa-eye"></i> View</a>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div class="card h-100">
                     <div class="card-body">
                        <h5 class="card-title">Total Brochures</h5>
                        <p class="card-text"><span class="card-number">{{ total_brochures }}</span> Brochures</p>
                     </div>
                     <div class="card-footer">
                        <a href="/marketing" class="btn btn-primary"><i class="fas fa-eye"></i> View</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row mt-4">
               <div class="col-lg-8 d-flex">
                  <div class="card flex-fill">
                     <div class="card-body">
                        <h5 class="card-title">Sales Performance</h5>
                        <canvas id="salesChart"></canvas>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 d-flex">
                  <div class="card flex-fill">
                     <div class="card-body">
                        <h5 class="card-title">TBD</h5>
                        <p class="card-text">Content TBD</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>