<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      <title>Admin Portal - Documents</title>
      <link rel="icon" type="image/png" href="/static/icons/cropped_logo.png">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/documents.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
      <script src="{{ url_for('static', filename='js/documents.js') }}"></script>
   </head>   
   <body>
      <div class="container-fluid">
         <div class="row">
            {% include 'sidebar.html' %}
            <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
               <h2 class="greeting mt-3">{{ greeting_msg }}</h2>
               <div class="row row-cols-1 row-cols-md-4 mt-4 g-4">
                  {% for document_type in document_types %}
                  <div class="col">
                     <div class="card h-100">
                        <div class="card-body">
                           <h5 class="card-title">{{ document_type }}</h5>
                           <p class="card-text"><span class="card-number">{{ document_counts[document_type] }}</span> Documents</p>
                        </div>
                        <div class="card-footer">
                           <a href="{{ url_for('get_documents', document_type=document_type) }}" class="btn btn-primary"><i class="fas fa-eye"></i> View</a>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
               </div>
               <button id="upload-document-button" class="btn btn-primary mt-3" type="button">Upload Document</button>
               <div class="modal" id="document-modal">
                  <div class="modal-content">
                     <span class="close">&times;</span>
                     <h3 class="modal-title">Document Files - {{ document_type }}</h3>
                     <ul class="document-list">
                        {% for document in documents %}
                        <li>{{ document.document_name }}</li>
                        {% endfor %}
                     </ul>
                  </div>
               </div>
            </div>
            </div>
         </div>
         <div id="error-notification" class="error-notification"></div>
         <div id="success-notification" class="success-notification"></div>
         <div id="upload-document-modal" class="modal">
         <div id="error-notification-modal" class="error-notification-modal"></div>
         <div id="success-notification-modal" class="success-notification-modal"></div>
         <div class="modal-content">
            <span class="close">&times;</span>
            <form id="submit-document-form" class="modal-form" action="{{ url_for('submit_document') }}" method="POST">
               <div class="modal-step active-step">
                  <h2 class="modal-step-title">Upload New Document</h2>
                  <div class="form-group">
                     <label for="document-name">Document Name:</label>
                     <input type="text" id="document-name" name="document-name" required>
                  </div>
                  <div class="form-group">
                     <label for="document-type">Document Type:</label>
                     <select id="document-type" name="document-type" required>
                        <option value="Office Brochures">Office</option>
                        <option value="Industrial Brochures">Industrial</option>
                        <option value="Investments Brochures">Investments</option>
                        <option value="Healthcare Brochures">Healthcare</option>
                        <option value="Retail Brochures">Retail</option>
                        <option value="BOV Reports">BOV</option>
                        <option value="Quarterly Reports">Quarterly Reports</option>
                        <option value="Key Marketing Pieces">Key Marketing Pieces</option>
                     </select>
                  </div>
                  <div class="form-group">
                     <button id="upload-document-file" type="button">Upload Document File</button>
                     <input id="document-file" type="file" style="display:none;" accept=".pdf">
                     <input type="hidden" id="document-file-base64" name="document-file-base64">
                  </div>
                  <div class="modal-navigation">
                     <button id="submit-button" class="minimal-button submit-step" type="submit">Upload Document</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <script>
         $('.card-footer').on('click', function(e) {
            e.preventDefault();
            var documentType = $(this).parent().find('.card-title').text();
            $.get('{{ url_for("get_documents") }}', {document_type: documentType}, function(data) {
                  $('#document-modal .modal-title').text("Documents Files - " + documentType);
                  var documentList = $('#document-modal .document-list');
                  documentList.empty();
                  for (var i = 0; i < data.length; i++) {  
                     var documentName = data[i].document_name;
                     var downloadButton = '<a class="download-button" href="data:application/pdf;base64,' + data[i].pdf_file_base64 + '" download="' + documentName + '.pdf"><i class="fa fa-download"></i></a>';
                     documentList.append("<li>" + documentName + " " + downloadButton + "</li>");
                  }
                  var modal = document.getElementById('document-modal');
                  modal.style.display = "block";
            });
         });
      </script>
   </body>
</html>