<!DOCTYPE html>
<html>
  <head>
    <title>Admin Portal - Leases</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/icons/cropped_logo.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leases.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/leases.js') }}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body data-is-admin="{{ is_admin }}">
    <div id="error-notification" class="error-notification"></div>
    <div id="success-notification" class="success-notification"></div> 
    {% include 'sidebar.html' %} 
    <div class="content">
      <div class="toolbar" style="padding: 10px 0; position: relative;">
        <form id="search-form" class="search-form" style="text-align: start; display: flex;flex-wrap: wrap;column-gap: 20px;row-gap: 10px;justify-content: space-between;position: relative;width: 100%;float: right;">
          <div class="leases-count-div">
            <div id="leases-count" style="position: relative; left: 0; flex-shrink: 0;" class="leases-count header-btns">Total Leases: {{ lease_count }}</div>
          </div>
          <div style="display: flex;flex-wrap: wrap; column-gap: 20px;row-gap: 10px;">
            <input type="text" class="leases-count-div" style="flex-shrink: 0;" id="search-input" placeholder="Search Leases..." />
            <button id="open-map-button" class="header-btns" style="flex-shrink: 0;" type="button">Open leases Map</button>
            <button id="delete-all-button" class="header-btns" style="flex-shrink: 0;" type="button">Delete All leases</button>
            <button id="add-lease-button" class="header-btns" style="flex-shrink: 0;" type="button">Add lease</button>
          </div>
        </form>
      </div>
      <div class="table-div">
        <table class="centered-table" style="width: 100%; margin: 0; border-radius: 6px;
        overflow: hidden;">
        <thead>
          <tr>
            <th style="border-top-left-radius: 7px;">Property Type</th>
            <th>Lease Type</th>
            <th>Start Date</th>
            <th>Price</th>
            <th>Street</th>
            <th>City</th>
            <th>Owner</th>
            <th>Phone</th>
            <th>Brokers</th>
            <th style="border-top-right-radius: 7px;">Lease Agreement</th>
          </tr>
        </thead>
        <tbody> 
          {% for lease in leases %} 
          <tr data-lease-id="{{ lease._id }}">
            <td>{{ lease.lease_property_type }}</td>
            <td>{{ lease.lease_type }}</td>
            <td>{{ lease.lease_start_date }}</td>
            <td>{{ lease.lease_price }}</td>
            <td>{{ lease.lease_street }}</td>
            <td>{{ lease.lease_city }}</td>
            <td>
                <a href="mailto:{{ lease.lease_email }}">{{ lease.lease_owner }}</a>
              </td>
            <td>
              <a href="tel:{{ lease.lease_phone }}">{{ lease.lease_phone }}</a>
            </td>
            <td class="brokers"> {% for broker in lease.brokers %} <span class="broker-name">{{ broker }}</span> {% endfor %} </td>
            <td>
              <form class="lease-form" action="{{ url_for('submit_lease') }}" method="POST"> {% if lease.pdf_file_base64 %} <a href="{{ url_for('download_lease_pdf', lease_id=lease._id) }}">Fully Executed</a> {% else %} Pending {% endif %} </form>
            </td>
          </tr> {% endfor %} 
        </tbody>
        <table>
        {{ pagination.links }}
    </div>
    <div id="action-modal" class="action-modal">
      <button id="delete-button">Delete lease</button>
      <button id="edit-button">Edit lease</button>
    </div>
    <div id="add-lease-modal" class="add-lease-modal">
      <div id="error-notification-modal" class="error-notification-modal"></div>
      <div id="success-notification-modal" class="success-notification-modal"></div>
      <div class="modal-content">
        <span class="close">&times;</span>
        <form id="submit-lease-form" class="modal-form" action="{{ url_for('submit_lease') }}" method="POST">
          <div class="modal-step active-step main-form-step" id="main-step1">
            <h2 class="modal-step-title">New Lease - Address Information</h2>
            <div class="form-group">
              <label for="lease-street">Lease Street:</label>
              <input type="text" id="lease-street" name="lease-street" required>
            </div>
            <div class="form-group">
              <label for="lease-city">Lease City:</label>
              <input type="text" id="lease-city" name="lease-city" required>
            </div>
            <div class="form-group">
              <label for="lease-state">Lease State:</label>
              <select id="lease-state" name="lease-state" required>
                <option value="NJ">NJ</option>
                <option value="PA">PA</option>
              </select>
            </div>
            <div class="form-group">
              <label for="lease-property-type">Property Type:</label>
              <select id="lease-property-type" name="lease-property-type" required>
                <option value="Office">Office</option>
                <option value="Industrial">Industrial</option>
                <option value="Flex">Flex</option>
                <option value="Retail">Retail</option>
                <option value="Medical">Medical</option>
                <option value="Land">Land</option>
              </select>
            </div>
          </div>
          <div class="modal-step main-form-step" id="main-step2">
            <h2 class="modal-step-title">New Lease - Owner Information</h2>
            <div class="form-group">
              <label for="lease-owner-name">Owner Name:</label>
              <input type="text" id="lease-owner-name" name="lease-owner-name" required>
            </div>
            <div class="form-group">
              <label for="lease-owner-email">Owner Email:</label>
              <input type="email" id="lease-owner-email" name="lease-owner-email" required>
            </div>
            <div class="form-group">
              <label for="lease-owner-phone">Owner Phone Number:</label>
              <input type="tel" id="lease-owner-phone" name="lease-owner-phone" required>
            </div>
          </div>
          <div class="modal-step main-form-step" id="main-step3">
            <h2 class="modal-step-title">New Lease - General Information</h2>
            <div class="form-group">
              <label for="lease-type">Lease Type:</label>
              <select id="lease-type" name="lease-type" required>
                <option value="Sale">Sale</option>
                <option value="Lease">Lease</option>
                <option value="Sale and Lease">Sale and Lease</option>
                <option value="Sublease">Sublease</option>
              </select>
            </div>
            <div class="form-group">
              <label for="lease-price">Lease Price:</label>
              <input type="text" id="lease-price" name="lease-price" required>
            </div>
            <div class="form-group">
              <label for="lease-start-date">Lease Start Date:</label>
              <input type="text" id="lease-start-date" name="lease-start-date" required>
            </div>
            <div class="form-group">
              <label for="lease-end-date">Lease End Date:</label>
              <input type="text" id="lease-end-date" name="lease-end-date" required>
            </div>
            <div class="form-group">
              <label for="lease-brokers">Brokers:</label>
              <select id="lease-brokers" name="brokers[]" multiple>
                <option value="Jason Wolf">Jason Wolf</option>
                <option value="Evan Zweben">Evan Zweben</option>
                <option value="Erin Warwick">Erin Warwick</option>
                <option value="Todd Monahan">Todd Monahan</option>
                <option value="John Mozzillo">John Mozzillo</option>
                <option value="Ryan Barikian">Ryan Barikian</option>
                <option value="Bethany Brown">Bethany Brown</option>
                <option value="Tony Banks">Tony Banks</option>
                <option value="Phil Costa">Phil Costa</option>
                <option value="Eric Flocco">Eric Flocco</option>
                <option value="John Mazurie">John Mazurie</option>
                <option value="Brian Goren">Brian Goren</option>
                <option value="Julia Brines">Julia Brines</option>
                <option value="Brian Propp">Brian Propp</option>
                <option value="Sam Newman">Sam Newman</option>
                <option value="David Spector">David Spector</option>
                <option value="Chemmie Sokolic">Chemmie Sokolic</option>
              </select>
            </div>
            <div class="form-group">
              <button id="upload-lease-agreement" type="button">Upload Lease Agreement</button>
              <input id="lease-agreement" type="file" style="display:none;" accept=".pdf">
              <input type="hidden" id="lease-agreement-file-base64" name="lease-agreement-file-base64">
            </div>
          </div>
          <div class="modal-navigation">
            <button class="minimal-button prev-step" type="button">Previous</button>
            <button id="next-button" class="minimal-button next-step" type="button">Next</button>
          </div>
        </form>
      </div>
    </div>
    <div id="edit-lease-modal" class="edit-lease-modal">
      <div id="error-notification-modal" class="error-notification-modal"></div>
      <div id="success-notification-modal" class="success-notification-modal"></div>
      <div class="modal-content">
        <span class="close">&times;</span>
        <form id="edit-lease-modal" class="modal-form">
          <div class="modal-step active-step edit-form-step" id="edit-step1">
            <h2 class="modal-step-title">Edit Lease</h2>
            <div class="form-group">
              <label for="edit-lease-start-date">Lease Start Date:</label>
              <input type="text" id="edit-lease-start-date" name="edit-lease-start-date" required>
            </div>
            <div class="form-group">
              <label for="edit-lease-end-date">Lease End Date:</label>
              <input type="text" id="edit-lease-end-date" name="edit-lease-end-date" required>
            </div>
            <div class="form-group">
              <label for="edit-lease-price">Lease Price:</label>
              <input type="text" id="edit-lease-price" name="edit-lease-price" required>
            </div>
          </div>
          <div class="form-group">
            <label for="edit-lease-street">Lease Street:</label>
            <input type="text" id="edit-lease-street" name="edit-lease-street" required>
          </div>
          <div class="form-group">
            <label for="edit-lease-city">Lease City:</label>
            <input type="text" id="edit-lease-city" name="edit-lease-city" required>
          </div>
          <div class="form-group">
            <label for="edit-lease-owner-name">Owner Name:</label>
            <input type="text" id="edit-lease-owner-name" name="edit-lease-owner-name" required>
          </div>
          <div class="form-group">
            <label for="edit-lease-owner-email">Owner Email:</label>
            <input type="email" id="edit-lease-owner-email" name="edit-lease-owner-email" required>
          </div>
          <div class="form-group">
            <label for="edit-lease-owner-phone">Owner Phone Number:</label>
            <input type="tel" id="edit-lease-owner-phone" name="edit-lease-owner-phone" required>
          </div>
          <div class="form-group">
            <button id="upload-lease-agreement" type="button">Upload lease Agreement</button>
            <input id="lease-agreement" type="file" style="display:none;" accept=".pdf">
            <input type="hidden" id="lease-agreement-file-base64" name="lease-agreement-file-base64">
          </div>
          <div class="modal-navigation">
            <button id="submit-button-edit" class="minimal-button submit-step" type="button">Submit Edit Changes</button>
          </div>
      </div>
    </div>
  </body>
</html>