<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel - Listings</title>
    <link rel="icon" type="image/png" href="/static/cropped_logo.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='listings.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='icons.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(window).on('load', function() {
            setTimeout(function() {
                $('#loading').hide();
            }, 2000);
        });
    </script>
</head>
<body>
    <div id="loading">
        <img id="loading-image" src="https://thumbs.gfycat.com/PepperyMediumBrahmancow-size_restricted.gif" alt="Loading..." />
    </div>      
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-header">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="WCRE Logo">
            </div>
            <ul>
                <li><a href="{{ url_for('home') }}"><span class="custom-icon-dashboard"></span> DASHBOARD</a></li>
                <li><a href="{{ url_for('view_listings') }}"><span class="custom-icon-listings"></span> LISTINGS</a></li>
                <li><a href="#"><span class="custom-icon-sales"></span> SALES</a></li>
                <li><a href="#"><span class="custom-icon-leases"></span> LEASES</a></li>
            </ul>
            <div class="user-info">
                <img class="user-profile-pic" src="{{ current_user.profile_picture_url }}" alt="User Profile Picture">
                <div class="user-details">
                    <div class="user-name">{{ current_user.fullname }}</div>
                    <div class="user-role">{{ current_user.role }}</div>
                </div>
                <a href="{{ url_for('logout') }}" class="logout-icon"></a>
            </div>
        </div>    
        <div class="content">
            <table class="centered-table">
                <tr>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Type</th>
                    <th>Owner</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Brokers</th>
                    <th>Listing Agreement</th>
                </tr>
                {% for listing in listings %}
                <tr>
                    <td>{{ listing.listing_street }}</td>
                    <td>{{ listing.listing_city }}</td>
                    <td>{{ listing.listing_state }}</td>
                    <td>{{ listing.listing_type }}</td>
                    <td>{{ listing.listing_owner }}</td>
                    <td><a href="mailto:{{ listing.listing_email }}">{{ listing.listing_email }}</a></td>
                    <td><a href="tel:{{ listing.listing_phone }}">{{ listing.listing_phone }}</a></td>
                    <td class="brokers">{{ ", ".join(listing.brokers) }}</td>
                    <td><a href="{{ url_for('download_listing_pdf', listing_id=listing._id) }}">Download</a></td>
                </tr>
                {% endfor %}
            </table>
            {{ pagination.links }}
        </div>
    </div>
</body>
</html>