<!DOCTYPE html>
<html>

<head>
  <title>Admin Portal - Listings</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/static/icons/cropped_logo.png" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/listings.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/listings.js') }}"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoKJVMAXzJSwPJUgSLzbbwWz-px77dK_s&callback=initMap"></script>
</head>

<body data-is-admin="{{ is_admin }}">
  <div id="error-notification" class="error-notification"></div>
  <div id="success-notification" class="success-notification"></div> {% include 'sidebar.html' %} <div class="content">
    <div class="toolbar" style="padding: 10px 0; position: relative">
      <form id="search-form" class="search-form" style="
            text-align: start;
            display: flex;
            flex-wrap: wrap;
            column-gap: 20px;
            row-gap: 10px;
            justify-content: space-between;
            position: relative;
            width: 100%;
            float: right;
          ">
        <div class="listings-count-div">
          <div id="listings-count" style="position: relative; left: 0; flex-shrink: 0"
            class="listings-count header-btns"> Total Listings: {{ listing_count }}
          </div>
        </div>
        <div style="
              display: flex;
              flex-wrap: wrap;
              column-gap: 20px;
              row-gap: 10px;
            ">
          <input type="text" class="listings-count-div" style="flex-shrink: 0" id="search-input"
            placeholder="Search Listings..." />
          <button id="open-listing-map-button" class="header-btns" style="flex-shrink: 0" type="button"> Open Listings
            Map </button>
          <button id="add-listing-button" class="header-btns" style="flex-shrink: 0" type="button"> Upload Listing
          </button>
        </div>
      </form>
    </div>
    <div id="mapModal" class="map-modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div id="map" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
    <div class="table-div">
      <table class="centered-table" style="width: 100%; margin: 0; border-radius: 6px; overflow: hidden">
        <thead>
          <tr>
            <th style="border-top-left-radius: 7px">Property Type</th>
            <th>Starting Date</th>
            <th>Expiration Date</th>
            <th>Price</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Entity (DBA)</th>
            <th>Primary Contact</th>
            <th>Brokers</th>
            <th>Listing Agreement</th>
            <th>Listing Amendment</th>
            <th style="border-top-right-radius: 7px">Notes</th>
          </tr>
        </thead>
        <tbody> {% for listing in listings %}
          <tr data-listing-id="{{ listing._id }}" class="listing-row">
            <td>{{ listing.listing_property_type }}</td>
            <td>{{ listing.listing_start_date }}</td>
            <td>
              <a href="{{ url_for('create_ics_listing', listing_id=listing._id) }}">{{ listing.listing_end_date }}</a>
            </td>
            <td>{{ listing.listing_price }}</td>
            <td>{{ listing.listing_street }}</td>
            <td>{{ listing.listing_city }}</td>
            <td> {% if listing.listing_state == "New Jersey" %} NJ {% elif listing.listing_state == "Pennsylvania" %} PA
              {% else %} {{ listing.listing_state }} {% endif %} </td>
            <td>{{ listing.listing_owner_entity }}</td>
            <td>
              <div class="contact-info">
                <a href="mailto:{{ listing.listing_owner_email }}">{{ listing.listing_owner_name }}</a>
                <a href="tel:{{ listing.listing_owner_phone }}">{{ listing.listing_owner_phone }}</a>
              </div>
            </td>
            <td class="brokers"> {% for broker in listing.brokers %} <span class="broker-name">{{ broker }}</span> {%
              endfor %} </td>
            <td>
              <form method="POST"> {% if listing.listing_agreement_file_id %} <a
                  href="{{ url_for('download', file_id=listing.listing_agreement_file_id) }}">Fully Executed</a> {%
                else
                %}
                Pending {% endif %} </form>
            </td>
            <td>
              <form method="POST"> {% if listing.listing_amendment_file_id %} <a
                  href="{{ url_for('download', file_id=listing.listing_amendment_file_id) }}">Fully Executed</a> {%
                else %} Pending {% endif %} </form>
            </td>
            <td class="notes-cell" data-full-notes="{{ listing.listing_notes | replace(" \n", "<br>" ) | safe }}">{{
              listing.listing_notes | truncate(50) }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <table>
          {{ pagination.links }}
          <div>
            <div id="action-modal" class="action-modal">
              <button id="delete-button">Delete Listing</button>
              <button id="edit-button">Edit Listing</button>
              <button id="archive-button">Archive Listing</button>
            </div>
            <div id="add-listing-modal" class="listing-modal" data-mode="add">
              <div class="modal-content">
                <span class="close">&times;</span>
                <form id="submit-listing-form" class="modal-form" action="{{ url_for('submit_listing') }}"
                  method="POST">
                  <div class="modal-step active-step main-form-step" id="main-step1">
                    <h2 class="modal-step-title"> New Listing - Property Information </h2>
                    <div class="form-group">
                      <label for="listing-street">Listing Street:</label>
                      <input type="text" id="listing-street" name="listing-street" placeholder="Enter Street Address:"
                        required />
                    </div>
                    <div class="form-group">
                      <label for="listing-city">Listing City:</label>
                      <input type="text" id="listing-city" name="listing-city" placeholder="Enter Town/City:"
                        required />
                    </div>
                    <div class="form-group">
                      <label for="listing-state">Listing State:</label>
                      <select id="listing-state" name="listing-state" required>
                        <option value="NJ">NJ</option>
                        <option value="PA">PA</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="listing-property-type">Property Type:</label>
                      <select id="listing-property-type" name="listing-property-type" required>
                        <option value="Office">Office</option>
                        <option value="Industrial">Industrial</option>
                        <option value="Flex">Flex</option>
                        <option value="Retail">Retail</option>
                        <option value="Medical">Medical</option>
                        <option value="Land">Land</option>
                      </select>
                    </div>
                  </div>
                  <div class="modal-step main-form-step" id="main-step2">
                    <h2 class="modal-step-title"> New Listing - Owner Information </h2>
                    <div class="form-group">
                      <label for="listing-owner-entity">Owner Entity (DBA):</label>
                      <input type="text" id="listing-owner-entity" name="listing-owner-entity"
                        placeholder="Enter Owner Entity (DBA):" required />
                    </div>
                    <div class="form-group">
                      <label for="listing-owner-name">Primary Contact Name:</label>
                      <input type="text" id="listing-owner-name" name="listing-owner-name"
                        placeholder="Enter Owner Name:" required />
                    </div>
                    <div class="form-group">
                      <label for="listing-owner-email">Owner Email:</label>
                      <input type="email" id="listing-owner-email" name="listing-owner-email"
                        placeholder="Enter Owner Email:" required />
                    </div>
                    <div class="form-group">
                      <label for="listing-owner-phone">Owner Phone Number:</label>
                      <input type="tel" id="listing-owner-phone" name="listing-owner-phone"
                        placeholder="Enter Owner Phone Number:" required />
                    </div>
                  </div>
                  <div class="modal-step main-form-step" id="main-step3">
                    <h2 class="modal-step-title"> New Listing - General Information </h2>
                    <div class="form-group">
                      <label for="listing-price">Listing Price:</label>
                      <input type="text" id="listing-price" name="listing-price" placeholder="Enter Listing Price:"
                        required />
                    </div>
                    <div class="form-group">
                      <label for="listing-start-date">Listing Starting Date:</label>
                      <input type="text" id="listing-start-date" name="listing-start-date"
                        placeholder="Enter Listing Start Date:" required />
                    </div>
                    <div class="form-group">
                      <label for="listing-end-date">Listing Expiration Date:</label>
                      <input type="text" id="listing-end-date" name="listing-end-date"
                        placeholder="Enter Listing Expiration Date:" required />
                    </div>
                    <div class="form-group">
                      <label for="listing-brokers">Brokers:</label>
                      <select id="listing-brokers" name="brokers[]" multiple>
                        <option value="Jason Wolf">Jason Wolf</option>
                        <option value="Evan Zweben">Evan Zweben</option>
                        <option value="Erin Warwick">Erin Warwick</option>
                        <option value="Todd Monahan">Todd Monahan</option>
                        <option value="John Mozzillo">John Mozzillo</option>
                        <option value="Ryan Barikian">Ryan Barikian</option>
                        <option value="Bethany Brown">Bethany Brown</option>
                        <option value="Tony Banks">Tony Banks</option>
                        <option value="Phil Costa">Phil Costa</option>
                        <option value="Eric Flocco">Eric Flocco</option>
                        <option value="Joey Fox">Joey Fox</option>
                        <option value="Eric Grad">Eric Grad</option>
                        <option value="Andrew Maristch">Andrew Maristch</option>
                        <option value="John Mazurie">John Mazurie</option>
                        <option value="Brian Goren">Brian Goren</option>
                        <option value="Julia Brines">Julia Brines</option>
                        <option value="Brian Propp">Brian Propp</option>
                        <option value="Sam Newman">Sam Newman</option>
                        <option value="David Spector">David Spector</option>
                        <option value="Chemmie Sokolic">Chemmie Sokolic</option>
                      </select>
                    </div>
                    <div class="form-group increased-line-height">
                      <label for="notes-option">Notes:</label>
                      <select id="notes-option" name="notes-option"
                        onchange="toggleNotesField('notes-option', 'listing-notes')">
                        <option value="no-notes">No Notes</option>
                        <option value="enter-notes">Enter Notes</option>
                      </select>
                      <textarea id="listing-notes" name="listing-notes" placeholder="Enter Notes:"
                        style="display: none;" required></textarea>
                    </div>
                    <div class="form-group">
                      <button id="upload-listing-agreement" type="button"> Upload Listing Agreement </button>
                      <input id="listing-agreement" type="file" style="display: none" accept=".pdf, .doc" />
                      <input type="hidden" id="listing-agreement-file-id" name="listing-agreement-file-id" />
                    </div>
                    <div class="form-group">
                      <button id="upload-listing-amendment" type="button"> Upload Listing Amendment </button>
                      <input id="listing-amendment" type="file" style="display: none" accept=".pdf, .doc" />
                      <input type="hidden" id="listing-amendment-file-id" name="listing-amendment-file-id" />
                    </div>
                  </div>
                  <div class="modal-navigation">
                    <button class="minimal-button prev-step" type="button"> Previous </button>
                    <button class="minimal-button next-step" type="button"> Next </button>
                  </div>
                </form>
              </div>
            </div>
            <div id="edit-listing-modal" class="listing-modal" data-mode="edit">
              <div class="modal-content">
                <span class="close">&times;</span>
                <form id="edit-listing-modal" class="modal-form">
                  <h2 class="modal-step-title">Edit Listing</h2>
                  <div class="modal-step active-step edit-form-step" id="edit-step1">
                    <div class="form-group">
                      <label for="edit-listing-street">Listing Street:</label>
                      <input type="text" id="edit-listing-street" name="edit-listing-street" required />
                    </div>
                    <div class="form-group">
                      <label for="edit-listing-city">Listing City:</label>
                      <input type="text" id="edit-listing-city" name="edit-listing-city" required />
                    </div>
                    <div class="form-group">
                      <label for="edit-listing-state">Listing State:</label>
                      <select id="edit-listing-state" name="edit-listing-state" required>
                        <option value="NJ">NJ</option>
                        <option value="PA">PA</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="edit-listing-property-type">Property Type:</label>
                      <select id="edit-listing-property-type" name="edit-listing-property-type" required>
                        <option value="Office">Office</option>
                        <option value="Industrial">Industrial</option>
                        <option value="Flex">Flex</option>
                        <option value="Retail">Retail</option>
                        <option value="Medical">Medical</option>
                        <option value="Land">Land</option>
                      </select>
                    </div>
                  </div>
                  <div class="modal-step edit-form-step" id="edit-step2">
                    <div class="form-group">
                      <label for="edit-listing-owner-entity">Owner Entity (DBA):</label>
                      <input type="text" id="edit-listing-owner-entity" name="edit-listing-owner-entity"
                        placeholder="Enter Owner Entity (DBA):" required />
                    </div>
                    <div class="form-group">
                      <label for="edit-listing-owner-name">Primary Contact Name:</label>
                      <input type="text" id="edit-listing-owner-name" name="edit-listing-owner-name" required />
                    </div>
                    <div class="form-group">
                      <label for="edit-listing-owner-email">Owner Email:</label>
                      <input type="email" id="edit-listing-owner-email" name="edit-listing-owner-email" required />
                    </div>
                    <div class="form-group">
                      <label for="edit-listing-owner-phone">Owner Phone Number:</label>
                      <input type="tel" id="edit-listing-owner-phone" name="edit-listing-owner-phone" required />
                    </div>
                  </div>
                  <div class="modal-step edit-form-step" id="edit-step3">
                    <div class="form-group">
                      <div class="form-group">
                        <label for="edit-listing-price">Listing Price:</label>
                        <input type="text" id="edit-listing-price" name="edit-listing-price" required />
                      </div>
                      <label for="edit-listing-start-date">Listing Starting Date:</label>
                      <input type="text" id="edit-listing-start-date" name="edit-listing-start-date" required />
                    </div>
                    <div class="form-group">
                      <label for="edit-listing-end-date">Listing End Date:</label>
                      <input type="text" id="edit-listing-end-date" name="edit-listing-end-date" required />
                    </div>
                    <div class="form-group increased-line-height">
                      <label for="edit-notes-option">Notes:</label>
                      <select id="edit-notes-option" name="edit-notes-option"
                        onchange="toggleNotesField('edit-notes-option', 'edit-listing-notes')">

                        <option value="no-notes">No Notes</option>
                        <option value="enter-notes">Enter Notes</option>
                      </select>
                      <textarea id="edit-listing-notes" name="edit-listing-notes" placeholder="Enter Notes:"
                        style="display: none;" required></textarea>
                    </div>
                    <div class="form-group">
                      <button id="edit-upload-listing-agreement" type="button"> Upload Listing Agreement </button>
                      <input id="edit-listing-agreement" type="file" style="display: none" accept=".pdf, .doc" />
                      <input type="hidden" id="edit-listing-agreement-file-id" name="edit-listing-agreement-file-id" />
                    </div>
                    <div class="form-group">
                      <button id="edit-upload-listing-amendment" type="button"> Upload Listing Amendment </button>
                      <input id="edit-listing-amendment" type="file" style="display: none" accept=".pdf, .doc" />
                      <input type="hidden" id="edit-listing-amendment-file-id" name="edit-listing-amendment-file-id" />
                    </div>
                  </div>
                  <div class="modal-navigation">
                    <button class="minimal-button prev-step" type="button"> Previous </button>
                    <button class="minimal-button next-step" type="button"> Next </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </table>
      </table>
    </div>
  </div>
</body>

</html>