<!DOCTYPE html>
<html>
   <head>
      <title>Admin Portal - Marketing</title>
      <link rel="icon" type="image/png" href="/static/icons/cropped_logo.png">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/marketing.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   </head>
   <body>
      <div class="container">
         {% include 'sidebar.html' %}
         <div class="content">
            <h2 class="greeting">{{ greeting_msg }}</h2>
            <div class="dashboard">
               {% for brochure_type in brochure_types %}
               <div class="dashboard-card">
                  <div class="card-title">{{ brochure_type }}</div>
                  <div class="card-content"><span class="card-number">{{ brochure_counts[brochure_type] }}</span> Brochures</div>
                  <a href="{{ url_for('get_brochures', brochure_type=brochure_type) }}" class="card-icon"><img src="/static/icons/view.png" alt="View"></a>
               </div>
               {% endfor %}
            </div>
         </div>
         <button id="upload-brochure-button" type="button">Upload Brochure</button>
         <div class="modal" id="brochure-modal">
            <div class="modal-content">
               <span class="close">&times;</span>
               <h3 class="modal-title">Brochure Files - {{ brochure_type }}</h3>
               <ul class="brochure-list">
                  {% for brochure in brochures %}
                  <li>{{ brochure.brochure_name }}</li>
                  {% endfor %}
               </ul>
            </div>
         </div>
      </div>
      <div id="error-notification" class="error-notification"></div>
      <div id="success-notification" class="success-notification"></div>
      <div id="upload-brochure-modal" class="modal">
         <div id="error-notification-modal" class="error-notification-modal"></div>
         <div id="success-notification-modal" class="success-notification-modal"></div>
         <div class="modal-content">
            <span class="close">&times;</span>
            <form id="submit-brochure-form" class="modal-form" action="{{ url_for('submit_brochure') }}" method="POST">
               <div class="modal-step active-step">
                  <h2 class="modal-step-title">Upload New Brochure</h2>
                  <div class="form-group">
                     <label for="brochure-name">Brochure Name:</label>
                     <input type="text" id="brochure-name" name="brochure-name" required>
                  </div>
                  <div class="form-group">
                     <label for="brochure-type">Brochure Type:</label>
                     <select id="brochure-type" name="brochure-type" required>
                        <option value="Office">Office</option>
                        <option value="Industrial">Industrial</option>
                        <option value="Investments">Investments</option>
                        <option value="Healthcare">Healthcare</option>
                        <option value="Retail">Retail</option>
                     </select>
                  </div>
                  <div class="form-group">
                     <button id="upload-brochure-file" type="button">Upload Brochure File</button>
                     <input id="brochure-file" type="file" style="display:none;" accept=".pdf">
                     <input type="hidden" id="brochure-file-base64" name="brochure-file-base64">
                  </div>
                  <div class="modal-navigation">
                     <button id="submit-button" class="minimal-button submit-step" type="submit">Upload Brochure</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <script>
         $(document).ready(function() {
            var fileInput = document.getElementById('brochure-file');
            var uploadButton = document.getElementById('upload-brochure-file');
            var uploadErrorMessage = document.getElementById('upload-error-message');
            $('.card-icon').on('click', function(e) {
               e.preventDefault();
               var brochureType = $(this).parent().find('.card-title').text();
               $.get('{{ url_for("get_brochures") }}', {brochure_type: brochureType}, function(data) {
                     $('#brochure-modal .modal-title').text("Brochure Files - " + brochureType);
                     var brochureList = $('#brochure-modal .brochure-list');
                     brochureList.empty();
                     for (var i = 0; i < data.length; i++) {  
                        var brochureName = data[i].brochure_name;
                        var downloadButton = '<a class="download-button" href="data:application/pdf;base64,' + data[i].pdf_file_base64 + '" download="' + brochureName + '.pdf"><i class="fa fa-download"></i></a>';
                        brochureList.append("<li>" + brochureName + " " + downloadButton + "</li>");
                     }
                     var modal = document.getElementById('brochure-modal');
                     modal.style.display = "block";
               });
            });
            // SHOW ERROR NOTI
            function showErrorNotification(message) {
               var errorNotification = $('#error-notification');
               errorNotification.text(message);
               errorNotification.addClass('show');
         
               setTimeout(function() {
                     errorNotification.removeClass('show');
               }, 2000);
            }
         
            // SHOW SUCCESS NOTI
            function showSuccessNotificationModal(message) {
               console.log('showSuccessNotification called with message:', message);
               var successNotification = $('#success-notification-modal');
               successNotification.text(message);
               successNotification.addClass('show');
         
               setTimeout(function() {
                     successNotification.removeClass('show');
               }, 2000);
            }
         
            // SHOW ERROR NOTI - MODAL
            function showErrorNotificationModal(message) {
               var errorNotification = $('#error-notification-modal');
               errorNotification.text(message);
               errorNotification.addClass('show');
         
               setTimeout(function() {
                     errorNotification.removeClass('show');
               }, 2000);
            }
         
            // OPEN MODAL
            $('#upload-brochure-button').on('click', function() {
               $('body').addClass('modal-open');
               $('#upload-brochure-modal').css('display', 'flex');
            });
            // CLOSE MODAL
            $(".close").click(function(e) {
               e.stopPropagation();  // Stop event bubbling up and closing the modal
               $(this).parents(".modal").hide();
               resetForm();
            });
         
            $('.modal').click(function() {
               $(this).css('display', 'none');
               resetForm();
            });
         
            function resetForm() {
               $('#submit-brochure-form')[0].reset();
               $('#brochure-file-base64').val('');
               $('#upload-brochure-file').text('Upload Brochure File');
               $('#upload-brochure-file').prop('disabled', false);
               $('.error').removeClass('error');
               $('.modal-step').removeClass('active-step');
               $('.modal-step:first').addClass('active-step');
            }
         
            uploadButton.addEventListener('click', function(e) {
               fileInput.click();
            });
         
            $('.modal-content').click(function(event) {
               event.stopPropagation();
            });
         
            // Handle brochure file button click
            fileInput.addEventListener('change', function(e) {
               var file = this.files[0];
               var formData = new FormData();
               formData.append('file', file);
               $.ajax({
                     url: '/upload_pdf',
                     type: 'POST',
                     data: formData,
                     processData: false,
                     contentType: false,
                     success: function(data) {
                        if (data.success) {
                           uploadButton.textContent = 'Document Uploaded ✔';
                           showSuccessNotificationModal('Document Uploaded Successfully');
                           uploadButton.disabled = true;
                           document.getElementById('brochure-file-base64').value = data.fileBase64;
                        } else {
                           showErrorNotificationModal('Error Uploading Document');
                        }
                     },
                     error: function(xhr, status, error) {
                        showErrorNotificationModal('Error Uploading Document');
                     }
               });
            });
         
            // Handle Form Submission
            $('#submit-brochure-form').on('submit', function(e) {
               e.preventDefault();
               $('#upload-brochure-modal').css('display', 'none');
               var formData = new FormData(this);
               var fileBase64 = $('#listing-agreement-file-base64').val();
               formData.append('fileBase64', fileBase64);
               
               $.ajax({
                  url: '/submit_brochure',
                  type: 'POST',
                  data: formData,
                  processData: false,
                  contentType: false,
                  success: function(response) {
                     console.log("Brochure Uploaded Successfully");
                        window.location.href = '/marketing';
                  },
                  error: function(xhr, status, error) {
                     showErrorNotificationModal('Error Uploading Brochure');
                     console.log("Error Uploading Brochure");
                  }
               });
            });
         });
      </script>
   </body>
</html>