<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/png" href="/static/icons/cropped_logo.png">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="sidebar">
			<div class="sidebar-header">
				<a href="https://wolfcre.com/">
					<img src="{{ url_for('static', filename='icons/logo.png') }}" alt="WCRE Logo">
				</a>
			</div>
			<ul>
				<li><a href="{{ url_for('dashboard') }}"><span class="custom-icon-dashboard"></span> DASHBOARD </a></li>
				<li><a href="{{ url_for('view_listings') }}"><span class="custom-icon-listings"></span> LISTINGS </a></li>
				<li><a href="{{ url_for('view_sales') }}"><span class="custom-icon-sales"></span> SALES </a></li>
				<li><a href="#"><span class="custom-icon-leases"></span> LEASES </a></li>
				<li><a href="{{ url_for('documents') }}"><span class="custom-icon-documents"></span> DOCUMENTS </a></li>
			</ul>
			<div class="user-info">
				<img class="user-profile-pic" src="{{ current_user.profile_picture_url }}" alt="User Profile Picture">
				<div class="user-details">
					<div class="user-name">{{ current_user.fullname }}</div>
					<div class="user-role">{{ current_user.role }}</div>
				</div>
				<a href="{{ url_for('logout') }}" class="logout-icon"></a>
			</div>
		</div>
	<body>
<html>