<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/static/icons/cropped_logo.png" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/sidebar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/icons.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="sidebar-nav" class="sidebar">
      <div style="display: flex; justify-content: end; padding: 10px">
        <button
          id="toggle-sidebar-btn"
          class="toggle-sidebar-btn"
          onclick="handleSidebar()"
        >
          >
        </button>
      </div>
      <div class="sidebar-header">
        <a
          href="https://wolfcre.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='icons/logo.png') }}"
            alt="WCRE Logo"
          />
        </a>
      </div>
      <ul class="p-0">
        <li>
          <a href="{{ url_for('dashboard') }}">
            <span class="custom-icon-dashboard"></span>
            <span id="sidebar-items" class="sidebar-items">DASHBOARD</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('view_listings') }}">
            <span class="custom-icon-listings"></span>
            <span id="sidebar-items" class="sidebar-items">LISTINGS</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('view_sales') }}">
            <span class="custom-icon-sales"></span>
            <span id="sidebar-items" class="sidebar-items">SALES</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="custom-icon-leases"></span>
            <span id="sidebar-items" class="sidebar-items">LEASES</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('documents') }}">
            <span class="custom-icon-documents"></span>
            <span id="sidebar-items" class="sidebar-items">DOCUMENTS</span>
          </a>
        </li>
      </ul>
      <div class="user-info">
        <div
          class="flex-wrap flex-md-nowrap gap-2"
          style="display: flex; padding: 8px"
        >
          <img
            class="user-profile-pic"
            src="{{ current_user.profile_picture_url }}"
            alt="User Profile Picture"
          />
          <div class="user-details-wrapper gap-3">
            <div class="user-details">
              <div class="user-name">{{ current_user.fullname }}</div>
              <div class="user-role">{{ current_user.role }}</div>
            </div>
            <a
              href="{{ url_for('logout') }}"
              class="logout-icon flex-shrink-0"
            ></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
  const sidebarHeader = document.getElementsByClassName("sidebar-header");
  const sidebarItems = document.getElementsByClassName("sidebar-items");
  const userInfo = document.getElementsByClassName("user-info");
  const sidebarBtn = document.getElementById("toggle-sidebar-btn");
  $(window).on("resize", function () {
    for (let i = 0; i < sidebarHeader.length; i++) {
      if ($(window).width() > 752) {
        $(".sidebar-header")[i].style.display = "block";
        sidebarBtn.innerHTML = "<";
      } else {
        $(".sidebar-header")[i].style.display = "none";
        sidebarBtn.innerHTML = ">";
      }
    }
    for (let i = 0; i < sidebarHeader.length; i++) {
      if ($(window).width() > 752) {
        $(".sidebar-header")[i].style.display = "block";
      } else {
        $(".sidebar-header")[i].style.display = "none";
      }
    }
    for (let i = 0; i < sidebarItems.length; i++) {
      if ($(window).width() > 752) {
        $(".sidebar-items")[i].style.display = "block";
      } else {
        $(".sidebar-items")[i].style.display = "none";
      }
    }
    for (let i = 0; i < userInfo.length; i++) {
      if ($(window).width() > 752) {
        $(".user-info")[i].style.display = "block";
      } else {
        $(".user-info")[i].style.display = "none";
      }
    }
  });

  function handleSidebar() {
    const sidebarHeader = document.getElementsByClassName("sidebar-header");
    const sidebarItems = document.getElementsByClassName("sidebar-items");
    const userInfo = document.getElementsByClassName("user-info");
    const sidebarBtn = document.getElementById("toggle-sidebar-btn");
    for (let i = 0; i < sidebarItems.length; i++) {
      if (sidebarItems[i].style.display === "block") {
        sidebarItems[i].style.display = "none";
        sidebarBtn.innerHTML = ">";
      } else {
        sidebarItems[i].style.display = "block";
        sidebarBtn.innerHTML = "<";
      }
    }
    for (let i = 0; i < userInfo.length; i++) {
      if (userInfo[i].style.display === "block") {
        userInfo[i].style.display = "none";
      } else {
        userInfo[i].style.display = "block";
      }
    }
    for (let i = 0; i < sidebarHeader.length; i++) {
      if (sidebarHeader[i].style.display === "block") {
        sidebarHeader[i].style.display = "none";
      } else {
        sidebarHeader[i].style.display = "block";
      }
    }
  }
</script>
